.gameContainer {
    margin: 1em;
}

.kickingTeam {
    padding: .5em;
}

.receivingTeam {
    margin-left: 3em;
    padding: .5em;
    font-size: .75rem;
}

.kickingTeam img {
    margin: .25em 1em .25em .25em;
    height: 2em;
    width: auto;
}

.receivingTeam img {
    margin: .25em 1em .25em .25em;
    height: 1.25em;
    width: auto;
}